.UsersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.UsersPage {
  width: 80%;
  margin: auto;
}

.UserCard {
  width: 10em;
  margin: 2em;
  text-align: center;
}

.UserImgSml {
  width: 80%;
}

.Loading {
  justify-self: flex-start;
}
