.DisplayContainer {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  width: 100%;
  margin: auto;
  padding-bottom: 2em;
}

.ArticleSummaryItem {
  position: relative;
  display: block;
  margin: 1em;
  padding: 0.5em;
  background-color: rgb(240, 240, 240);
}

.ArticleSummaryItem:hover * {
  color: black;
}

.ArticleSummaryItem:hover #article-title {
  color: rgb(219, 69, 69);
  transition: 200ms;
}

.HomeContainer {
  width: 80%;
  margin: auto;
}

.WelcomeMessage {
  text-align: center;
}

.ArticleSummaryItem .fancyTopic {
  position: absolute;
  bottom: 0.8rem;
  right: 0.5rem;
  color: rgb(219, 69, 69);
  font-size: 300%;
}

@media screen and (max-width: 600px) {
  .DisplayContainer {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
  }

  .ArticleSummaryItem .fancyTopic {
    font-size: 250%;
    bottom: 0.5rem;
    right: 0.3rem;
  }

  .recentArts {
    grid-row: 1;
  }

  .ArticleSummaryItem {
    margin: 1em 0.4em;
  }
}
