.DisplayContainer {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  width: 100%;
  margin: auto;
}

.ArticleSummaryItem {
  margin: 1em;
  padding: 0.5em;
  background-color: rgb(240, 240, 240);
}

.HomeContainer {
  width: 80%;
    margin: auto;
  }
  
  .WelcomeMessage {
    text-align: center;
  }
  
.fancyTopic {
  float: right;
  color: rgb(219, 69, 69);
  font-size: 300%;
  position: relative;
  top: -20px;
}

@media screen and (max-width: 600px) {
  .DisplayContainer {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
  }

  .fancyTopic {
    float: right;
    color: rgb(219, 69, 69);
    font-size: 200%;
    position: relative;
    top: -5px;
  }

  .recentArts {
    grid-row: 1
  }
}