.mainHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.NavBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

.PageTitle {
  font-size: 1.5em;
  text-align: center;
}

.fancyFont {
  font-family: "La Belle Aurore";
  color: rgb(219, 69, 69);
}

.NavItem {
  text-align: center;
  padding: 1.5em 0.3em;
  margin: 0;
  font-size: 0.7em;
  letter-spacing: 0.3em;
}

.imgMini {
  height: 3em;
  justify-self: center;
}

.grid1x2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.LoggedIn {
  width: 50%;
  justify-self: end;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.SubmitButton {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
