@import url("https://fonts.googleapis.com/css?family=Lato|La+Belle+Aurore|Merriweather");

.App {
  display: grid;
  grid-template: 5em 1fr / 1fr;
  font-family: "Lato", sans-serif;
  margin: 1em;
  overflow: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

.right {
  text-align: right;
}


.fancyFont {
  font-family: "La Belle Aurore";
  color: rgb(219, 69, 69);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(219, 69, 69);
  transition: 200ms;
}

h1 {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 0.7em;
  letter-spacing: 0.3em;
  font-weight: normal;
}

h4 {
  font-family: "Merriweather";
  font-weight: normal;
}

input {
  font-family: "Lato", sans-serif;
  font-size: 60%;
  padding: 0.2em 1em;
}

textarea {
  font-family: "Lato", sans-serif;
  font-size: 60%;
  padding: 0.2em 1em;
  margin: 0.2em;
}

.customSelect {
  font-family: "Lato", sans-serif;
  font-size: 60%;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  padding: 0.2em 0.4em;
  margin: 0.2em;
  margin-right: 1em;
}

button,
input[type="submit"],
input[type="reset"] {
  background-color: rgb(240, 240, 240);
  color: inherit;
  border: none;
  border-radius: 3px;
  padding: 0.2em 1em;
  margin: 0.2em;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Lato", sans-serif;
  font-size: 60%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3em;
}

button:hover {
  background-color: rgb(219, 69, 69);
  color: white;
  transition: all 200ms;
  border-color: white;
}

button:disabled {
  color: grey;
}

button:disabled:hover {
  background-color: rgb(240, 240, 240);
}

p {
  font-size: 0.7em;
  margin: 0.1em;
}

.ArticleBody {
  margin: 1em;
  padding: 0.5em;
  background-color: rgb(240, 240, 240);
}

.SpaceCapsTitle {
  font-size: 0.7em;
  letter-spacing: 0.3em;
  margin: 0.5em 0;
  display: block;
}

.warning {
  color: rgb(219, 69, 69);
}
