@import url("https://fonts.googleapis.com/css?family=Lato|La+Belle+Aurore|Merriweather");

.App {
  display: grid;
  grid-template: 5em 1fr / 1fr;
  font-family: "Lato", sans-serif;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(219, 69, 69);
  transition: 200ms;
}

h1 {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 0.7em;
  letter-spacing: 0.3em;
  font-weight: normal;
}

p {
  font-size: 0.7em;
  margin: 0.1em;
}

.ArticleBody {
  margin: 1em;
  padding: 0.5em;
  background-color: rgb(240, 240, 240);
}

.SpaceCapsTitle {
  font-size: 0.7em;
  letter-spacing: 0.3em;
  margin: 0.5em 0;
  display: block;
}
