.ArticlePostInfo {
  text-align: right;
  padding: 0.5em;
  margin: 1em;
  grid-area: postInfo;
}

.BodyText {
  font-family: "Merriweather", serif;
  line-height: 1.6;
  grid-area: body;
}

.CommentsButton {
  grid-area: ShowButton;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: center;
  width: 30%;
  height: 60%;
}

.AddCommentButton {
  grid-area: AddButton;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: center;
  width: 30%;
  height: 60%;
}

.CommentsContainer {
  grid-area: commentsCont;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ArticleContainer {
  display: grid;
  grid-template: 1fr 2em 2em / 1fr 3fr;
  width: 80%;
  margin: auto;
  grid-template-areas:
    "postInfo body"
    "ShowButton ShowButton"
    "AddButton AddButton"
    "commentsCont commentsCont";
}

.CommentItem {
  margin: 1em;
  padding: 0.5em;
  background-color: rgb(240, 240, 240);
}

.userPicLarge {
  width: 80%;
}

.CommentBody {
  font-family: "Merriweather", serif;
  line-height: 1.6;
}

.reduceMarginBot {
  margin-bottom: 0.2em;
}

.inlineButton {
  background-color: white;
}

.inlineButton:disabled:hover {
  background-color: white;
}

.CommentAdder {
  text-align: center;
}

.noComments {
  text-align: center;
}

.fancyTopic {
  float: right;
  color: rgb(219, 69, 69);
  font-size: 300%;
  position: relative;
  top: -20px;
}

@media screen and (max-width: 600px) {
  .ArticleContainer {
    display: grid;
    grid-template: auto 1fr 2em 2em / 1fr;
    width: 80%;
    margin: auto;
    grid-template-areas:
      "postInfo"
      "body"
      "ShowButton"
      "AddButton"
      "commentsCont";
  }

  .ArticlePostInfo {
    justify-self: center;
    text-align: center;
    padding: 0.5em;
    margin: 1em;
    grid-area: postInfo;
    width: 50%;
    height: fit-content;
  }

  .CommentsButton {
    width: 60%;
    height: 60%;
  }

  .AddCommentButton {
    width: 60%;
    height: 60%;
  }
}