.ArticlePostInfo {
  text-align: right;
  padding: 0.5em;
  margin: 1em;
}

.BodyText {
  font-family: "Merriweather", serif;
  line-height: 1.6;
}

.ArticleContainer {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  width: 80%;
  margin: auto;
}

.userPicLarge {
  width: 80%;
}
